<h2>What is onecommunity?</h2>
<hr>
<br>
<h3>pure awesomeness.</h3>

<div id="aboutDiv">
<p>
    actually though, it all started when four coding students from University of Washington came together to find a
    solution for everyday tasks that they needed help with but couldnt necessarily afford to pay someone for their
    services. so we came up with an idea for an app where a person could send out into the world of the internet a
    service they needed help with, and someone could volunteer to help them with it. this was how onecommunity was born.
</p>
<br>
<p>
    onecommunity is a one-stop-service for people to come togetether in their community to help service each other
    through selfless volunteering. you can sign up to have your dog walked, get food delivered to you, volunteer to work at a soup kitchen, or even help someone with some yard work. the possibilites are endless.
</p>
<div>

<br>
<br>
<h5>
join us and become a part of onecommunity today!
<br>
<p>
    . 
    <br>
    . 
    <br>
    .
</p>
<br>
or dont and be lame.
</h5>