<div class="container">
    <div class="row">
        <h3 class="title logo-p">Browse Active Volunteers and Requests</h3>
    </div>
    <div class="row">
        <form id="browse-form" action="/browse" method="GET">
            <div class="input-field col s12 m2 browse-box">
                <select name="activeItems" id="active-items">
                    {{#each activeItems}}
                    {{> forms/option-element val=this.val text=this.text selected=this.selected disabled=this.disabled}}
                    {{/each}}
                </select>
                <label>Active Items</label>
            </div>
            <div class="input-field col s12 m3 browse-box">
                <select name="category" id="categories">
                    {{#each categories}}
                    {{> forms/option-element val=this.val text=this.text selected=this.selected disabled=this.disabled}}
                    {{/each}}
                </select>
                <label>Service Category</label>
            </div>
            <div class="input-field col s12 m3 browse-box">
                <select name="service" id="services">
                    {{#each services}}
                    {{> forms/option-element val=this.val text=this.text selected=this.selected disabled=this.disabled}}
                    {{/each}}
                </select>
                <label>Service Type</label>
            </div>
            <div class="input-field col s12 m2 browse-box">
                <select name="orderBy" id="order-by">
                    {{#each orderBy}}
                    {{> forms/option-element val=this.val text=this.text selected=this.selected disabled=this.disabled}}
                    {{/each}}
                </select>
                <label>Order By</label>
            </div>
            <div class="input-field col s12 m2 browse-submit">
                <button class="btn waves-effect waves-light blue darken-3 " type="submit" name="action">Filter
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <div id="browse-results" class="row">
        {{#each browseResults}}
            {{> browse/browse-result-item
                id=this.id
                itemType=this.itemType
                isVolunteer=this.isVolunteer
                userName=this.userName
                category=this.category
                service=this.service
                startDate=this.startDate
                endDate=this.endDate}}
        {{/each}}
    </div>

    <a onclick="topFunction()" id="myBtn" title="Go to top" class="btn-floating btn-large waves-effect waves-light blue darken-1"><i class="material-icons">keyboard_arrow_up</i></a>
</div>
