<div class="container">
    <div class="row">
        <h3 class="title">Browse Volunteers, Requests, and Events</h3>
    </div>
    <div class="row">
        <div class="input-field col s12 m4 l3">
            <select multiple>
                <option value="volunteers">Volunteers</option>
                <option value="requests">Requests</option>
                <option value="events">Events</option>
            </select>
            <label>Active Items</label>
        </div>
        <div class="input-field col s12 m4 l3">

        </div>
        <div class="input-field col s12 m4 l3">

        </div>
        <div class="input-field col s12 m4 l3">

        </div>
    </div>
</div>
