
<h1 class="center-align">Welcome to</h1>
<br>

<div class="logo-box">
<div class="flex-logo">
<img src="/images/logo.png">
</div>
</div>

<br>

<!--<div class="logo-box2">-->
<p class="flow-text logo-p logo-p2">Where a person can come to reach out for help or offer their services and skills</p>
<!--</div>-->

<!-- REQUEST SERVICE -->
<!--<button data-target="modal4" class="btn modal-trigger blue darken-3">Request a service</button>-->

<!-- Modal Structure -->
<div id="modal4" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>




