
<h1 class="center-align">Welcome to</h1>
<br>

<div class="logo-box">
<div class="flex-logo">
<img src="/images/logo.png">
</div>
</div>

<br>

<!--<div class="logo-box2">-->
<p class="flow-text logo-p logo-p2">Where a person can come to reach out for help or offer their services and skills</p>
<!--</div>-->


<!--just for testing modals-->
<br>


<!-- VOLUNTEER -->
<button data-target="modal3" class="btn modal-trigger blue darken-3">Provide a service</button>

<!-- Modal Structure -->
<div id="modal3" class="modal nav-color blue lighten-4">
    <div class="modal-content tex">
        <h4 class="vol-modal-p">Provide a service</h4>
        <h5 class="vol-modal-p">Fill out what service you would like to add</h5>
        <div class="row">
            <div class="input-field col s2">
                <input value="" id="first_name2" type="text" class="validate">
                <label class="active" for="first_name2">Zip Code</label>
            </div>

            <div class="input-field col s3">
                <input value="" id="first_name2" type="text" class="validate">
                <label class="active" for="first_name2">Service Provided</label>
            </div>

            <div class="input-field col s3">
                <input value="" id="first_name3" type="text" class="validate">
                <label class="active" for="first_name3">Type of Service</label>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-light btn-small"><i class="material-icons right">send</i>submit</a>
    </div>
</div>


<!-- REQUEST SERVICE -->
<button data-target="modal4" class="btn modal-trigger blue darken-3">Request a service</button>

<!-- Modal Structure -->
<div id="modal4" class="modal">
    <div class="modal-content">
        <h4>Modal Header</h4>
        <p>A bunch of text</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
</div>




