
<h1 class="center-align text-outline-shadow">Welcome to</h1>
<br>
<div id="logo" class="flex-logo">
<img src="/images/logo.png">
</div>


   <p>Content goes here</p>
<p>Content goes here</p>
<p>Content goes here</p>
<p>Content goes here</p>
<p>Content goes here</p>
<p>Content goes here</p>
<p>Content goes here</p>


