


<h1 class="center-align text-outline-shadow">Welcome to</h1>
<br>

<div class="logo-box">
<div id="logo" class="flex-logo">
<img src="/images/logo.png">
</div>
</div>

<br>

<div class="logo-box2">
<p id="logo-p" class="flow-text logo-p2">Where a person can come to reach out for help or offer their services and skills</p>
</div>


