a.card-panel {
    display: block;
}
a.card-panel.item-volunteer {
    background-color: #2196f3;
}
a.card-panel.item-request {
    background-color: #f44336;
}
.select-dropdown {
    color: #fff;
}
.select-dropdown > li > span {
  color: #2196f3;
}
.select-wrapper > input.select-dropdown:focus {
  border-bottom: 1px solid #2196f3;
}

main {
    text-align: center;
}

.button-margin {
    margin-top: 2%;
}

.nav-color {
    background-color: #bbdefb;
}

.logo-p {
    color: white;
    font-size: xx-large;
    font-weight: 400;
    /*-webkit-text-stroke-width: 0.9px;*/
    /*-webkit-text-stroke-color: black;*/

}

/*p.flow-text.logo-p.logo-p2 {*/
/*    !*padding-left: 15px;*!*/
/*    !*padding-right: 15px;*!*/

/*}*/

.vol-modal-p {
    color: white;
    /*font-size: xx-large;*/
    font-weight: 600;
    /*-webkit-text-stroke-width: 0.7px;*/
    /*-webkit-text-stroke-color: black;*/
}

footer {
    position:fixed;bottom:0;left:0;width:100%;
}

body, html {
    height: 100%;
}

body {
    /* The image used */
    background-image: url("/images/1791.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


body {
    color: white;
    /*text-shadow: 1px 1px #000000;*/
}

.text-outline-shadow {
    text-shadow: 3.5px 3.5px #000000;
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: black;
}


.flex-logo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}


@media screen and (max-width: 600px){
       body, html {
        height: 100%;
    }

    body {
        /* The image used */
        background-image: url("/images/1791.jpg");

        /* Full height */
        height: 100%;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .logo-p2 {
        margin-top: 22%;

    }



}

@media screen and (min-width: 601px){
    .logo-box {
        border: solid thin #000000;
        border-radius: 9rem;
        background-color: rgba(121, 134, 203, 0.7);
        /*color: #999999;*/
        display: inline-block;
    }

    /*.logo-box2 {*/
    /*    margin-top: 1.5%;*/
    /*    border: solid thin #000000;*/
    /*    border-radius: 3rem;*/
    /*    background-color: rgba(170, 169, 177, 0.90);*/
    /*    display: inline-block;*/
    /*}*/
}

@media screen and (min-width: 993px){

}

@media screen and (min-width: 1201px){

}

/* MODAL CSS */
/* MODAL CSS */
/* MODAL CSS */
/* MODAL CSS */
/* MODAL CSS */
/* MODAL CSS */
/* MODAL CSS */
/* MODAL CSS */
/* MODAL CSS */

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  
  /* Set a style for all buttons */
  button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  /* Extra styles for the cancel button */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  
  /* Center the image and position the close button */
  .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
  }
  
  img.avatar {
    width: 40%;
    border-radius: 50%;
  }
  
  .container {
    padding: 16px;
  }
  
  span.psw {
    float: right;
    padding-top: 16px;
  }
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button (x) */
  .close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }
  
  @-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
  }
    
  @keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
  }
  
  /* Change styles for span and cancel button on extra small screens */
  @media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
  }